<div class="row col-sm-12">
    <form>
        <div class="row">
            <div class="form-group col-sm-5">
                <label for="name">Name</label>
                <input id="name" class="form-control" type="text" name="name" #shoppingItemName>
            </div>
            <div class="form-group col-sm-2">
                <label for="amount">Amount</label>
                <input id="amount" class="form-control" type="number" name="amount" #shoppingItemAmount>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-success mr-2" type="button" (click)="submitAddShoppingForm()"><i class="fas fa-plus-circle"></i>&nbsp;Add
                    Item</button>
                <button class="btn btn-danger mx-2" type="button"><i class="far fa-trash-alt"></i>&nbsp;Delete
                    Item</button>
                <button class="btn btn-primary mx-2" type="button"><i class="fas fa-adjust"></i>&nbsp;Clear
                    Item</button>
            </div>
        </div>

    </form>
</div>