<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            Recipe Book
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto mr-2">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/recipebook">Recipes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/shoppinglist">Shopping List</a>
                </li>
            </ul>
            <ul class="nav navbar-nav mr-0">
                <div appDropdown class="dropdown">
                    <button id="my-dropdown" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage Data <span class="caret"></span></button>
                    <div class="dropdown-menu" aria-labelledby="manage-data-dropdown">
                        <a class="dropdown-item" href="#">Save Data</a>
                        <a class="dropdown-item" href="#">Fetch Data</a>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>