<div class="card">
    <div class="card-body">
        <h5 class="card-title"></h5>
        <div class="card-text">
            <h1>Game Control</h1>
        </div>
        <div class="btn-group" role="group" aria-label="Game Buttons">
            <button class="btn btn-info" (click)="startGame()">Start</button>
            <button class="btn btn-success" (click)="pauseGame()">Pause</button>
            <button class="btn btn-danger" (click)="stopGame()">Stop</button>
        </div>
    </div>
</div>

