<div class="container p-4">
  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-primary" type="button" (click)="onlyOdd=!onlyOdd">Only show odd numbers.</button>
      <hr>
      <ul class="list-group mt-4">
        <div *ngIf="onlyOdd">
          <li 
            class="list-group-item" 
            *ngFor="let n of oddNumbers" 
            [ngClass]="{odd: n % 2 !== 0}"
            [ngStyle]="{backgroundColor: n % 2 === 1 ? 'olive': 'transparent'}"
          >
            {{n}}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li 
            class="list-group-item" 
            *ngFor="let n of evenNumbers" 
            [ngClass]="{odd: n % 2 !== 0}"
            [ngStyle]="{backgroundColor: n % 2 === 1 ? 'olive': 'transparent'}"
          >
            {{n}}
          </li>
        </div>
      </ul>
      <p appBasicHighlight class="p-3 my-2">Style me using basic directive</p>
      <p appBetterHighlight class="p-3 my-2">Style me using better directive</p>
    </div>
  </div>
</div>