<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
        <label for="pname">Project Name:</label>
        <input id="pname" class="form-control" type="text" name="pname" ngModel #projectname="ngModel" required>
        <span class="text-red" *ngIf="!projectname.valid && projectname.touched">Project name field can not be empty!</span>
    </div>
    <div class="form-group">
        <label for="pname">Project E-Mail:</label>
        <input id="pemail" class="form-control" type="email" name="pemail" ngModel #projectemail="ngModel" required>
        <span class="text-red" *ngIf="!projectemail.valid && projectemail.touched">Email field can not be empty!</span>

    </div>
    <div class="form-group">
        <label for="pstatus">Project Status:</label>
        <select id="pstatus" class="form-control" name="pstatus" #projectstatus="ngModel" ngModel required>
            <option value="">Select a status</option>
            <option value="stable">Stable</option>
            <option value="critical">Critical</option>
            <option value="finished">Finished</option>
        </select>
        <span class="text-red" *ngIf="!projectstatus.valid && projectstatus.touched">Please select a project status!</span>
    </div>
    <hr>
    <button class="btn btn-info" type="submit">Submit</button>
</form>