<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>This is ABC Page App Component</h3>
            <div class="well">
                <app-servers></app-servers>
            </div>
            <!-- <div class="row">
                <div class="offset-md-2 col-md-8 mt-4">
                    <div class="card">
                        <div class="card-header">
                            <h3>Warning Card Components</h3>
                        </div>
                        <div class="card-body text-center">
                            <app-warning-alert></app-warning-alert>
                            <app-success-alert></app-success-alert>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>