<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-cockpit 
      (sCreated)="onServerAdded($event)"
      (bpCreated)="onBlueprintAdded($event)"
      ></app-cockpit>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-serverelement 
      *ngFor="let serverElement of serverElements"
      [svrElement]="serverElement">
      <p>
        <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
        <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
    </p>
    </app-serverelement>
    </div>
  </div>
</div>
